<!doctype html>
<html>
<head>
    <title>colin lieberman snapdocs</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/jquery-ui.min.css" />
</head>
<body>
<div id="head">
<h1>Colin Lieberman&rsquo;s Snapdocs submission</h1>
<p>Hi, Evan &amp; other Snapdocs folks. If you can read this it means my hosting company hasn&rsquo;t killed my rogue Sinatra process! Here are the instructions you sent, with a few editorials notes:</p>

<p id="instructions">Sure does suck that Google Reader shut down <em>[Aye, it does. This was the end of RSS for me]</em>. Please pick your favorite news website (NYTimes, Hacker News, Reddit, BBC, etc.) <em>[Why favorite? It would be easier to do this generically]</em> and build an RSS reader for that site <em>[Build? Is the point of the exercise to write an RSS parser, or to build the webapp? I&rsquo;m going off-the shelf for the parser for two reasons. (a) that&rsquo;s how I&rsquo;d do it in the real world, and (b) since y&rsquo;all are the only shop I&rsquo;ve ever encountered asking for a deployed app instead of a class or function, I reckon you&rsquo;re looking for the architecture and design more than the algorithm]</em>. It has to have two functions. i) shows the headlines. ii) allows me to save an article (favorite / star / or something like that). Please push the results to GitHub and deploy it somewhere (Heroku, Digital Ocean, etc.). I've noticed that candidates that have used Sinatra to build this have had particular luck, but you're welcome to use whatever framework you like <em>[One takes the hint ;)]</em>.</p>
</div><%# head %>

<div id="tabs">
    <ul id="tlist">
        <li><a href="#main">Feed Selector</a></li>
        <li><a href="#saved">Saved Articles</a></li>
    </ul>
<%= erb :main %>
<%= erb :saved %>
</div><%# tabs %>

<div id="foot">
</div><%# foot %>
<script src="/script/jquery-1.12.1.min.js"></script>
<script src="/script/jquery-ui.min.js"></script>
<script src="/script/main.js"></script>
</body>
</html>
