
<div id="main" class="tab">
<div id="left">
<h2>RSS Selector</h2>
<form id="feed">
<p><label>Enter a feed address or select one from the right:<br />
    <input id="domain" required="required" size="60" /></label>
</p>
<p><button>Go fetch!</button></p>
</form>
<p id="error">
</p><%# error %>
<div id="result">
</div><%# result %>
</div><%# left %>

<div id="right">
<ul>
    <li id="nyt">New York Times</li>
    <li id="hn"><span>Hacker News</span></li>
    <li id="reddit">Reddit</li>
    <li id="bbc">BBC</li>
    <li id="slash">Slashdot</li>
</ul>
</div><%# right %>
</div><%# main %>
